.game-container {
	margin-top: 5px;
	text-align: center;
}

/* Game Related Elements */
input#answer {
	line-height: 2.4em;
	text-align: center;
	border: 3px solid black;
}
#timeLeft, #timeAdded {
	font-size: 1.4em;
	font-weight: bold;
}
#timeAdded {
	display: none;
}
#problem {
	font-size: 3em;
	font-weight: bold;
	padding: 15px;
	margin: 0 auto;
	width: 300px;
	border: 1px solid black;
}

/* Scores */
#scores {
	margin-top: 15px;
	text-align: right;
}
.score {
	font-weight: bold;
}

/* Controls */
.controls {
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
}
.disabledControls {
	pointer-events: none;
	opacity: 0.4;
}
input[type="range"] {
	width: 300px;
	margin: 0 auto;
}
label[for="maxNumR"] {
	font-weight: normal;
}

/* Hide Number Input Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}